[submodule "Dependency/Catch2"]
	path = Dependency/Catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "Dependency/vcpkg"]
	path = Dependency/vcpkg
	url = https://github.com/microsoft/vcpkg.git
